<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group form-animate-text mb-4" [ngClass]="{ 'form-animate-error': submitted && f.email.errors }">
    <input type="email" class="form-control" formControlName="email" name="email" autocomplete="off" placeholder="Correo electrónico" required>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback d-block">
        <div *ngIf="f.email.errors.required">El correo electrónico es requerido</div>
        <div *ngIf="f.email.errors.email">El correo electrónico debe ser una dirección de correo electrónico válida</div>
    </div>
  </div>
  <div class="form-group form-animate-text mb-4" [ngClass]="{ 'form-animate-error': submitted && f.password.errors }">
    <input type="password" class="form-control" formControlName="password" name="password" autocomplete="off" placeholder="Contraseña" required>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback d-block">
        <div *ngIf="f.password.errors.required">Contraseña es requerido</div>
    </div>
  </div>
  <button mat-raised-button color="primary" type="submit" name="button" [disabled]="btnloader" [ngClass]="{ 'no-drop': btnloader }">
      <i class="fas fa-spinner fa-spin mr-3" *ngIf="btnloader"></i> INICIAR SESIÓN
  </button>
</form>
