<div class="load-files scroll">
    <div class="row h-100 m-0" *ngIf="files && files.length > 0; else no_content">
      <div
        class="item-file text-center pt-3 pb-4 mb-4"
        [ngClass]="{
          'col-12': files.length == 1,
          'col-6': files.length == 2,
          'col-4': files.length == 3,
          'col-3': files.length > 3
        }"
        *ngFor="let file of files; let i = index;"
      >
        <img [src]="file.src" lazy="loading">
        <div class="progress" [ngStyle]="{'opacity': file.opacity}">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngClass]="{'bg-success': !file.uploading}" [ngStyle]="{'width': file.upload_percentage+'%'}" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <button type="button" class="btn btn-sm btn-outline-danger mx-1" (click)="delete(file.name, i)"><i class="fas fa-trash-alt"></i></button>
      </div>
    </div>
</div>

<div class="row pt-3 border-top">
    <div class="col">
      <div class="mx-auto">
        <input #file class="d-none custom-file-input" type="file" accept="{{accept}}" (change)="cargandoImagen($event.target.files)" multiple>
        <div class="text-center">
          <label (click)="file.click();" id="user_group_label" class="rounded"><i class="fas fa-upload"></i>&nbsp; Selecciona el archivo</label>
        </div>
      </div>
    </div>
</div>

<ng-template #no_content>
  <div [@noContent] class="no_content d-flex text-center justify-content-center align-items-center h-100">
    <i class="far fa-3x fa-images"><h5>Sin Galería</h5></i>
  </div>
</ng-template>
