#user_group_label {
  cursor: pointer;
  margin-bottom: 0px;
  padding: 12px;
  border: 1px solid #ff6d00;
  color: #ff6d00;
  font-weight: bold;
}

.load-files{
  height: 100%;
  position: relative;
  overflow: auto;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-files .item-file img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid rgba(0,0,0,.125);
  /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; */
  -webkit-box-shadow: 0px 10px 20px 0 rgba(0,0,0,.3)!important;
   box-shadow: 0px 10px 20px 0 rgba(0,0,0,.3)!important;
  object-fit: scale-down;
}

.load-files .item-file .progress{
  height: 10px;
  margin-top: 2px;
  transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
}

.no_content h5{
  font-family: 'Luckiest Guy';
  text-transform: uppercase;
  font-size: calc(1.34375rem + 1.125vw);
}
