<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Imagen -->
  <label>Imagen</label>
  <upload-image [aspectRatio]="3 / 2" [resizeToWidth]="320" [resizeToHeight]="250" [img]="form.value.img" (file)="form.patchValue({ img_file: $event})"></upload-image>
  <br>

  <!-- Color -->
  <mat-form-field appearance="outline">
    <mat-label>Color *</mat-label>
    <input type="color" matInput formControlName="color">
    <mat-error *ngIf="f.color.errors && f.color.errors.required">Color es <strong>requerido</strong></mat-error>
  </mat-form-field>

  <!-- Título -->
  <mat-form-field appearance="outline">
    <mat-label>Título *</mat-label>
    <input type="text" matInput formControlName="title">
    <mat-error *ngIf="f.title.errors && f.title.errors.required">Título es <strong>requerido</strong></mat-error>
  </mat-form-field>

  <!-- Fecha -->
  <mat-form-field appearance="outline">
    <mat-label>Fecha *</mat-label>
    <input type="date" matInput formControlName="date">
    <mat-error *ngIf="f.date.errors && f.date.errors.required">La fecha es <strong>requerido</strong></mat-error>
  </mat-form-field>

  <!-- Descripcion -->
  <mat-form-field appearance="outline">
    <mat-label>Descripcion *</mat-label>
    <textarea name="name" rows="8" cols="80" matInput formControlName="description"></textarea>
    <mat-error *ngIf="f.description.errors && f.description.errors.required">La descripcion es <strong>requerido</strong></mat-error>
  </mat-form-field>

  <!-- Descripcion -->
    <!-- <mat-label>Descripción</mat-label>
    <editor [data]="form.value.description" (output)="form.patchValue({ description: $event})"></editor>
    <mat-error *ngIf="f.description.errors && f.description.errors.required"> Descripción es <strong>requerido</strong> </mat-error> -->

</form>

<!-- Cuerpo del blog -->
<mat-label>Cuerpo del blog</mat-label>
<div class="blog-body mt-2">
  <div *ngFor="let item of body; let i = index;">
    <picture *ngIf="item.picture" class="featured-image featured-image--{{item.picture.align}}">
      <img [src]="item.picture.src" *ngIf="item.picture.type == 'image'"/>
      <youtube [src]="item.picture.src" *ngIf="item.picture.type == 'video'" class="youtube"></youtube>

      <div class="options">
        <button type="button" mat-icon-button color="warn" matTooltip="Eliminar Imagen" (click)="item.picture = null">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </picture>

    <div class="options">
      <!-- Url de youtube -->
      <mat-form-field [style.width.%]="55" appearance="outline" *ngIf="item.picture && item.picture.type == 'video'">
        <mat-label>Url de youtube *</mat-label>
        <input type="text" matInput [(ngModel)]="item.picture.src">
      </mat-form-field>

      <button *ngIf="item.picture" type="button" mat-icon-button color="primary" matTooltip="Cambiar de posicion el parrafo" (click)="item.picture.align = item.picture.align == 'right' ? 'left' : 'right'">
        <i class="fas" [ngClass]="item.picture.align == 'right' ? 'fa-arrow-right' : 'fa-arrow-left'"></i>
      </button>
      <button type="button" mat-icon-button color="warn" matTooltip="Eliminar Parrafo" (click)="body.splice(i, 1)">
        <i class="fas fa-trash"></i>
      </button>
      <button type="button" mat-icon-button color="warn" matTooltip="Agregar Imagen" (click)="file.click();">
        <i class="far fa-image"></i>
        <input #file class="d-none custom-file-input" type="file" accept="image/*" (change)="upload($event.target.files[0], item)">
      </button>
      <button type="button" mat-icon-button color="warn" matTooltip="Agregar Video" (click)="addUrlYoutube(item)">
        <i class="fab fa-youtube"></i>
      </button>
    </div>

    <p contenteditable="true" (blur)="item.p = $event.target.innerHTML" [innerHTML]="item.p"></p>
  </div>

  <img class="new" src="https://dev.d3htgkcn2wiuzp.amplifyapp.com/assets/images/branding/titleDescription.png" alt="" (click)="newParagraph()">

</div>
