$breakpoint-md: 760px;
$breakpoint-lg: 1000px;

.blog-body{
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  background: #fff;
  padding: 1rem;
  z-index: 1;

  .new{
    cursor: pointer;
    width: 100%;
  }

  p{
    color: var(--secondary);
  }

  .featured-image{
    .options{
      width: 60px;
      height: 100%;
      position: absolute;
    }
  }

  @media only screen and (min-width:#{$breakpoint-md}){
    border-radius: 1rem;
    padding: 4rem 8rem;
    box-shadow: -7px 0 7px -7px #999, 7px 0 7px -7px #999;
  }

}

.blog-body .featured-image,
.blog-body .featured-image--right
{
  display: block;
  width: 100%;
  height: 260px;
  border-radius: 1rem;
  position: relative;

  @media only screen and (min-width:#{$breakpoint-md}){
    width: 240px;
    height: 260px;
    float: right; /* USUALLY CSS SIN BUT VALID IN THIS CASE */
  }
}

.blog-body .featured-image img, .blog-body .featured-image .youtube,
.blog-body .featured-image--right img, .blog-body .featured-image--right .youtube
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;

  @media only screen and (min-width:#{$breakpoint-md}){
    width: 360px;
    height: 260px;
    position: absolute;
    left: 30px;
  }
}

.blog-body .featured-image--left
{
  .options{
    right: 0;
  }
  @media only screen and (min-width:#{$breakpoint-md}){
    float: left; /* USUALLY CSS SIN BUT VALID IN THIS CASE */
  }
}

.blog-body .featured-image--left img,
.blog-body .featured-image--left .youtube
{
  @media only screen and (min-width:#{$breakpoint-md}){
    width: 360px;
    height: 260px;
    position: absolute;
    right: 30px;
    left: unset;
  }
}
