@keyframes swing {
  0%, 30%, 50%, 70%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}

.sidebar-wrapper {
  width: 218px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -280px;
  z-index: 999;
  -webkit-transition: left .3s ease, width .3s ease;
  transition: left .3s ease, width .3s ease;
  background-color: var(--bg-sidebar);
  border-radius: 0px 0px 40px 0px;
}
.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar-wrapper a {
  text-decoration: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}
.sidebar-wrapper .sidebar-item {
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.sidebar-wrapper .sidebar-content {
  max-height: calc(100% -35px);
  width: 100%;
  height: calc(100% - 35px);
  overflow-y: scroll;
  position: relative;
}
.sidebar-wrapper .sidebar-content::-webkit-scrollbar {
  width: 3px;
  height: 0px;
}
.sidebar-wrapper .sidebar-content::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
.sidebar-wrapper .sidebar-content::-webkit-scrollbar-thumb {
  background-color: rgba(172, 212, 217, 0.4);
  border-radius: 10px;
}
.sidebar-wrapper .sidebar-content.desktop {
  overflow-y: hidden;
}
.sidebar-wrapper .badge {
  border-radius: 30px;
}
.sidebar-wrapper .sidebar-brand {
  padding: 1rem 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 55px;
}
.sidebar-wrapper .sidebar-brand > a {
  font-weight: bold;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 26px;
}

/* sidebar-header */
.sidebar-wrapper .sidebar-header {
  padding: 28px;
  overflow: hidden;
}
.sidebar-wrapper .sidebar-header .user-pic {
  width: 60px;
  height: 60px;
  padding: 1px;
  margin-right: 14px;
}
.sidebar-wrapper .sidebar-header .user-pic img{
  border-radius: 50%;
}
.sidebar-wrapper .sidebar-header .user-info {
  overflow: hidden;
}
.sidebar-wrapper .sidebar-header .user-info > span {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sidebar-wrapper .sidebar-header .user-info .bg-orange {
  background-color: #FF6D00;
}
.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 18px;
}
.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}
.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

/* sidebar-menu */
.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}
.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 20px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}
.sidebar-wrapper .sidebar-menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  padding: 5px 50px 5px 15px;
  width: 100%;
  font-size: 13px !important;
  font-weight: 400;
  font-family: Poppins, Helvetica, "sans-serif";
}
.sidebar-wrapper .sidebar-menu ul li a:hover > i, .sidebar-wrapper .sidebar-menu ul li.active > a i{
  color: var(--icon-sidebar-hover);
}
.sidebar-wrapper .sidebar-menu ul li a:hover > i::before{
  display: inline-block;
  -webkit-animation: swing ease-in-out .5s 1 alternate;
  animation: swing ease-in-out .5s 1 alternate;
}
.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 5px;
  font-size: 19px;
  width: 45px;
  height: 45px;
  line-height: 46px;
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: var(--icon-sidebar);
}
.sidebar-wrapper .sidebar-menu ul li a .menu-text {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  overflow: hidden;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge, .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  margin-left: auto;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 15px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > .sidebar-submenu {
   max-height: 220px;
   opacity: 1;
}

/* page-wrapperr */
.page-wrapper .page-content {
  height: 100vh;
  display: inline-block;
  width: 100%!important;
  -webkit-transition: padding-left .7s ease;
  transition: padding-left .9s ease;
  overflow-x: hidden;
}
.page-wrapper .page-content .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 996;
  background: #000;
  opacity: .5;
  display: none;
}
.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

/* default-theme */
.default-theme .sidebar-wrapper .sidebar-item:first-child {
  border-top: none;
}
.default-theme .sidebar-wrapper a:not(.dropdown-item), .default-theme .sidebar-wrapper .sidebar-header, .default-theme .sidebar-wrapper .sidebar-search input, .default-theme .sidebar-wrapper .sidebar-search i {
  color: #ffffff;
}
.default-theme .sidebar-wrapper a:not(.dropdown-item):hover, .default-theme .sidebar-wrapper .sidebar-menu li.active > a {
  color: #ffffff;
}
.default-theme .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: #2b2b2b;
}
.default-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: #353c5e;
}
.default-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #eceff1;
}
.default-theme.toggled #close-sidebar {
  color: #adadad;
}
.default-theme.toggled #close-sidebar:hover {
  color: #d8d8d8;
}
.default-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .default-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .default-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #525965;
  border-radius: 0;
}
.default-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}
.default-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover, .default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #ffffff;
  font-size: large;
  background-color: transparent;
}
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: #454545;
}
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu, .default-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(255,255,255,0.5);
}
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: transparent;
}

/* pinned */
.page-wrapper.pinned:not(.hovered) .sidebar-wrapper {
  width: 80px;
}
.page-wrapper.pinned:not(.hovered) .sidebar-wrapper .sidebar-header {
  padding: 10px;
}
.page-wrapper.pinned:not(.hovered) .sidebar-wrapper .sidebar-header .user-pic {
  margin: 0 auto;
  width: 50px;
  float: none;
}
.page-wrapper.pinned:not(.hovered) .sidebar-wrapper .sidebar-header .user-pic img {
  margin: auto;
}
.page-wrapper.pinned:not(.hovered) .sidebar-wrapper .sidebar-header .user-info .user-role, .page-wrapper.pinned:not(.hovered) .sidebar-wrapper .sidebar-menu .header-menu, .page-wrapper.pinned:not(.hovered) .sidebar-wrapper .sidebar-menu .sidebar-submenu, .page-wrapper.pinned:not(.hovered) .sidebar-wrapper .sidebar-menu ul > li > a > span, .page-wrapper.pinned:not(.hovered) .sidebar-wrapper .sidebar-menu ul > li > a::after{
  display: none !important;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 235px;
  }
  .page-wrapper.toggled.pinned .page-content {
    padding-left: 80px;
  }
}
@media screen and (max-width: 768px) {
  .page-wrapper.toggled .page-content .overlay {
    display: block;
  }
}
