<div class="page-wrapper default-theme sidebar-bg bg1" [class.toggled]="toggled" [class.pinned]="pinned" [class.hovered]="hovered">
    <!-- sidebar  -->
    <div id="sidebar" class="sidebar-wrapper nav toggled" (mouseover)="hovered=true" (mouseout)="hovered=false">
        <!-- sidebar-content -->
        <div class="sidebar-content">
            <div class="px-3 pt-3"><a class="btn btn-outline-link btn-block btn-lg" role="button" id="pin-sidebar" aria-label="pin-sidebar" (click)="pinned = !pinned"><i class="fa fa-align-justify"></i></a></div>
            <!-- <div class="sidebar-brand pt-5 justify-content-center" (click)="collapse(false)">
                <div class="logo" style="margin: -7px;">
                  <a [routerLink]="['/']" style="background:none"><img src="https://randomuser.me/api/portraits/men/5.jpg" alt="handymen" width="60"></a>
                </div>
            </div> -->
            <div class="sidebar-item sidebar-header d-flex flex-nowrap py-5">
                <div class="user-pic">
                  <img src="https://randomuser.me/api/portraits/men/5.jpg" alt="handymen" width="60" height="60">
                </div>
                <div class="user-info d-flex align-items-center">
                  <span class="user-role" style="color: #ffffff;">Súper Admin</span>
                </div>
            </div>
            <div class="sidebar-item sidebar-menu">
                <ul>
                    <li [@listStagger]="menuItems" *ngFor="let item of menuItems" routerLinkActive="active" [class.sidebar-dropdown]="item.children !== null" [class.header-menu]="item.header" (click)="collapse(false)">
                      <!-- item -->
                      <a *ngIf="!item.header" href="#" [routerLink]="[item.url]" [queryParams]="item.prms">
                        <i [class]="item.icon"></i>
                        <span class="menu-text">{{item.name}}</span>
                      </a>
                      <!-- submenu  -->
                      <div *ngIf="!item.header && item.children !== null" class="sidebar-submenu pl-4">
                          <ul>
                              <li *ngFor="let subitem of item.children" routerLinkActive="active"><a [@listStagger]="item.children" [routerLink]="[item.url, subitem.url]" [queryParams]="item.prms" style="font-size: small;"><strong>{{subitem.name}}</strong></a></li>
                          </ul>
                      </div>
                      <!-- title -->
                      <span *ngIf="item.header">{{item.name}}</span>
                    </li>
                </ul>
            </div>
        </div>

        <!-- sidebar-footer -->
        <sidebar-footer [style.width.%]="100" [pinned]="pinned" [hovered]="hovered" (logout)="logout()"></sidebar-footer>

    </div>
    <!-- page -->
    <main class="page-content">
        <div id="overlay" class="overlay" (click)="collapse(false);"></div>
        <section>
            <div class="row">
                <div class="col">
                    <div class="form-group col-md-12 mt-3"><button class="btn btn-dark btn-lg" id="toggle-sidebar" type="button" (click)="toggled = !toggled">&nbsp;MENÚ</button></div>
                </div>
            </div>
        </section>
        <div class="container-fluid pt-5">
          <router-outlet></router-outlet>
        </div>
    </main>
</div>

<loader></loader>
