<div class="d-flex mb-5">
  <h1 class="title">Sliders</h1>
  <button class="add ml-auto" mat-raised-button color="primary" (click)="CRUD.select(null)" data-toggle="modal" data-target="#componentsModal"><i class="fas fa-plus add"></i>Agregar Imagen</button>
</div>
<div class="row m-0">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-3 pb-3" *ngFor="let item of data?.data">
    <div class="btns mt-1">
      <button mat-mini-fab color="primary" matTooltip="Editar" (click)="CRUD.select(item)" data-toggle="modal" data-target="#componentsModal"><i class="fas fa-pencil-alt"></i></button>
      <button mat-mini-fab color="warn" matTooltip="Eliminar" (click)="CRUD.delete('slider', item)"><i class="fas fa-trash"></i></button>
    </div>
    <img loading="lazy" [src]="item.img" alt="" width="100%" height="100%">
  </div>
  <!-- <div class="col-12">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5399.929268628218!2d-100.95466107435438!3d25.54308705609522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8688149af4219463%3A0x897e169f545c8fc4!2sLaboratorio%20Ramos%20Arizpe!5e0!3m2!1ses-419!2smx!4v1608616592513!5m2!1ses-419!2smx" width="" height=""></iframe>
  </div> -->
</div>
<app-modal>
  <app-form></app-form>
</app-modal>
