<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Imagen -->
  <label>Imagen Desktop</label>
  <upload-image [aspectRatio]="4 / 2" [img]="form.value.img" (file)="form.patchValue({ img_file: $event})"></upload-image>
  <br>

  <!-- Imagen Movil -->
  <label>Imagen Movil</label>
  <upload-image [aspectRatio]="3 / 5" [img]="form.value.img_device" (file)="form.patchValue({ img_device_file: $event})"></upload-image>
  <br>
</form>
