<p class="text-dark"><strong>Recupera tu cuenta</strong><br>Ingresa tu nombre de usuario o correo electrónico para restablecer tu contraseña</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group form-animate-text" [ngClass]="{ 'form-animate-error': submitted && f.email.errors }">
    <input type="email" class="form-control text-dark" formControlName="email" name="email" autocomplete="off" placeholder="Correo electrónico" required>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback d-block">
        <div *ngIf="f.email.errors.required">El correo electrónico es requerido</div>
        <div *ngIf="f.email.errors.email">El correo electrónico debe ser una dirección de correo electrónico válida</div>
    </div>
  </div>

  <div class="row">
      <div class="col text-center pb-2 d-flex justify-content-around">
        <button mat-raised-button color="primary" type="submit" [disabled]="btnloader" [ngClass]="{ 'no-drop': btnloader }">
          <i class="fas fa-spinner fa-spin mr-3" *ngIf="btnloader"></i>BUSCAR
        </button>
        <button mat-raised-button type="button" data-dismiss="modal" aria-label="Close">CANCELAR</button>
      </div>
  </div>
</form>
