<div class="d-flex mb-5">
  <h1 class="title">Blog</h1>
  <button class="add ml-auto" mat-raised-button color="primary" (click)="CRUD.select(null)" data-toggle="modal" data-target="#componentsModal"><i class="fas fa-plus add"></i>Agregar Blog</button>
</div>
<div class="row">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5" *ngFor="let item of data?.data">
    <div class="btns">
      <button mat-mini-fab color="primary" matTooltip="Editar" (click)="CRUD.select(item)" data-toggle="modal" data-target="#componentsModal"><i class="fas fa-pencil-alt"></i></button>
      <button mat-mini-fab color="warn" matTooltip="Eliminar" (click)="CRUD.delete('blog', item)"><i class="fas fa-trash"></i></button>
    </div>
    <card [color]="item.color" [img]="item.img" [title]="item.title" [description]="item.description"></card>
  </div>
</div>
<app-modal>
  <app-form></app-form>
</app-modal>
