<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Nombre completo -->
  <mat-form-field appearance="outline">
    <mat-label>Nombre completo *</mat-label>
    <input type="text" matInput formControlName="full_name" name="full_name">
    <mat-error *ngIf="f.full_name.errors && f.full_name.errors.required">Nombre es <strong>requerido</strong></mat-error>
  </mat-form-field>

  <!-- Telefono -->
  <mat-form-field appearance="outline">
    <mat-label>Telefono *</mat-label>
    <input type="tel" matInput formControlName="phone" placeholder="555-555-1234">
    <mat-error *ngIf="f.phone.errors && f.phone.errors.pattern"> El Formato es incorrecto </mat-error>
    <mat-error *ngIf="f.phone.errors && f.phone.errors.required">Telefono es <strong>requerido</strong></mat-error>
  </mat-form-field>

  <!-- Email -->
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
    <mat-error *ngIf="f.email.errors && f.email.errors.required"> Email es <strong>requerido</strong> </mat-error>
    <mat-error *ngIf="f.email.errors && f.email.errors.email"> Por favor, introduce una dirección de correo electrónico válida </mat-error>
  </mat-form-field>

  <!-- Contraseña -->
  <mat-form-field appearance="outline" [hidden]="form.value.id">
    <mat-label>Contraseña </mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
    <button mat-icon-button color="primary" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <i class="fas" [ngClass]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
    </button>
    <mat-error *ngIf="f.password && f.password.errors && f.password.errors.required">La fecha de nacimiento es <strong>requerido</strong></mat-error>
  </mat-form-field>

    <!-- Contraseña -->
  <mat-form-field appearance="outline" [hidden]="form.value.id">
    <mat-label>Contraseña</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirm_password">
    <button mat-icon-button color="primary" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <i class="fas" [ngClass]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
    </button>
  </mat-form-field>
</form>
