.card{
  border: none;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.08);
}
img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}
h5{
  font-weight: 700;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 40px;
}
span{
  width: 100%;
  height: 26px;
  position: absolute;
}
span span{
  width: 80%;
}
span.top{
  margin-top: -13px;
}
span.bottom{
  bottom: 0;
  margin-bottom: -13px;
}
.card-text{
  height: 85px;
  overflow: auto;
}
