<div class="card" [style.width.%]="width">
  <img class="card-img-top" [src]="img" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" [style.color]="color">{{title}}</h5>
    <p class="card-text scroll" [innerHTML]="description"></p>
  </div>
  <span class="d-flex justify-content-center" [ngClass]="bar"><span [style.background]="color"></span></span>
</div>
