<div class="container d-flex h-100 align-items-center justify-content-center">
  <div class="row justify-content-center mt-0">
    <div class="form text-center">
      <img src="assets/logo.svg" alt="" width="300">
      <div class="py-5">
          <router-outlet></router-outlet>
          <h6 class="text-center text-primary my-3">¿Olvidaste tu contraseña? <a href="#" data-toggle="modal" data-target="#modalauth">Haz click aquí.</a></h6>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="modalauth">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="card bg-white">
                <div class="card-header p-5" style="background: #eceff1;">
                  <img class="d-block d-xl-flex justify-content-xl-center mx-auto" src="assets/password.gif" style="width: 100%;">
                </div>
                <div class="card-body">
                    <request-access></request-access>
                </div>
            </div>
        </div>
    </div>
</div>
