.form{
  min-width: 500px;
}
h6, a, input{
  color: #101F5B;
  border-color:  #101F5B;
  border-radius: 0;
}
a{
  font-weight: bold;
}

@media (max-width: 575.98px){
  .form{
    min-width: auto;
    width: 100%;
    padding: 20px;
  }
  img{
    width: 200px;
    margin-top: 50px;
  }
}
