<!-- <ckeditor [editor]="Editor" data="<p>Hello, world!</p>" (ready)="onReady($event)"></ckeditor> -->

<ckeditor [editor]="Editor" [config]="config" [(ngModel)]="data" (change)="onChange($event)"></ckeditor>
