<div class="d-flex">
  <h1 class="title">Médicos</h1>
  <button class="add ml-auto" mat-raised-button color="primary" matTooltip="Agregar médico" (click)="CRUD.select(null)" data-toggle="modal" data-target="#componentsModal"><i class="fas fa-plus add"></i>Agregar médico</button>
</div>
<m-table matSort [data]="data" [columns]="columns">
  <!-- Nombre del Atleta -->
  <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let row" class="align-center text-light">
          <!-- <img class="mr-2" [src]="row.img" alt="perfil" width="40" height="40" [ngStyle]="{'border-radius':'50%'}"> -->
          {{row.full_name}}
      </td>
  </ng-container>

  <!-- Apellido -->
  <!-- <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
      <td mat-cell *matCellDef="let row" class="align-center text-light">{{row.name}}</td>
  </ng-container> -->

  <!-- Email -->
  <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo Electrónico</th>
      <td mat-cell *matCellDef="let row" class="align-center">{{row.email}}</td>
  </ng-container>

  <!-- phone -->
  <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef class="text-right" mat-sort-header>Telefono</th>
      <td mat-cell *matCellDef="let row" class="align-center text-light">{{row.phone}}</td>
  </ng-container>

  <!-- Fecha de nacimiento -->
  <!-- <ng-container matColumnDef="birth">
      <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header>Fecha de nacimiento</th>
      <td mat-cell *matCellDef="let row" class="text-light">{{row.date | date:'mediumDate'}}</td>
  </ng-container> -->

  <!-- Acciones -->
  <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-right">Acciones</th>
      <td mat-cell *matCellDef="let row" class="text-right">
          <button mat-icon-button color="primary" matTooltip="Editar" (click)="CRUD.select(row)" data-toggle="modal" data-target="#componentsModal"><i class="fas fa-pencil-alt"></i></button>
          <button mat-icon-button color="warn" matTooltip="Eliminar" (click)="CRUD.delete('users', row)"><i class="fas fa-trash"></i></button>
      </td>
  </ng-container>
</m-table>

<app-modal>
  <app-form></app-form>
</app-modal>
