<!-- Modal -->
<div class="modal fade" id="componentsModal" tabindex="-1" role="dialog" aria-labelledby="componentsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <button mat-stroked-button color="warn" data-dismiss="modal">Cancelar</button>
        <button mat-raised-button color="primary" class="ml-2"  (click)="CRUD.submit.next(true)">Guardar</button>
      </div>
    </div>
  </div>
</div>
