.modal .modal-dialog .modal-content button.close{
  box-sizing: border-box;
  height: 54px;
  width: 54px;
  outline: none;
  position: absolute;
  right: 0;
  z-index: 1;
  color: #fcf9f9;
}

.modal .modal-dialog{
  max-width: 900px;
  /* background-color: #3c4045!important; */
}
.modal .modal-dialog .modal-content{
  width: 900px;
  /* border-radius: 25px; */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.modal .modal-dialog .modal-content .modal-body{
  padding: 40px 40px 0 40px;
}

.modal .modal-dialog .modal-content .modal-footer{
  border: none;
  padding: 20px 40px 20px 40px;
}

.modal .modal-dialog .modal-content .modal-body .title{
  color: #fff;
  font-family: 'Montserrat-SemiBold';
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
}
.modal .modal-dialog .modal-content .modal-body .subtitle{
  color: #57B5CD;
  font-family: 'Montserrat-Bold';
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

  .modal{
    padding-left:10px;
    padding-right: 10px;
  }
  .modal .modal-dialog{
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .modal .modal-dialog .modal-content{
    width: 100%;
  }
}
