<table class="w-100" mat-table matSort [dataSource]="dataSource" (matSortChange)="sortData($event)" cdkDropList [cdkDropListData]="dataSource"
(cdkDropListDropped)="dropTable($event)">
    <ng-content></ng-content>

    <tr mat-header-row *matHeaderRowDef="columns" style="color:#52575A;"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;" cdkDrag [cdkDragData]="row"></tr>
    <tr  mat-row class="example-custom-placeholder" *cdkDragPlaceholder></tr>
</table>
<mat-paginator
    [length]="paginatorConfig?.length"
    [pageSize]="paginatorConfig?.pageSize"
    [pageSizeOptions]="paginatorConfig?.pageSizeOptions"
    (page)="setPage($event)"
    showFirstLastButtons>
</mat-paginator>
