.container{
  border: 2px dashed #ECEDF4;
  text-align: center;
  padding: 35px;
}
p{
  margin-top: 25px;
  color: #052362;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
a{
  color: #EA1C2C!important;
}
input{
  display: none;
}

img{
  max-width: 100%;
  max-height: 100px;
  object-fit: cover;
}

image-cropper{
  max-height: 200px;
  // background: red!important;
}
