<div class="container" [style.width.%]="width" (click)="file.click()">
  <input type="file" #file accept="image/gif,image/x-png,image/jpeg" (change)="fileChangeEvent($event)">
  <img [src]="img ? img : 'assets/svg/image.svg'" alt="upload" [class.rounded-circle]="img && round">
  <p>Drop your image here, or <a>browse</a></p>
  <small class="text-light">Supported images .jpg, .png and .jpeg</small>
</div>

<div class="text-center" *ngIf="imageChangedEvent">
  <button type="button" mat-icon-button color="primary" (click)="zoomOut()"><i class="fas fa-minus"></i></button>
  <button type="button" mat-icon-button color="primary" (click)="zoomIn()"><i class="fas fa-plus"></i></button>
  <button type="button" mat-icon-button color="warn" (click)="imageChangedEvent = null; img = null"><i class="fas fa-trash"></i></button>
</div>

<image-cropper
    *ngIf="imageChangedEvent"
    [roundCropper]="round"
    [imageQuality]="100"
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="aspectRatio"
    [resizeToWidth]="resizeToWidth"
    [resizeToHeight]="resizeToHeight"
    [transform]="transform"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>
