:root{
	--bg-primary: #fff;
	--bg-secondary: #0f192f;
	--bg-sidebar: #101F5B;;

	/* colores de iconos de sidebar */
	--icon-sidebar: #fff;
	--icon-sidebar-hover: #fff;

	--primary: #1225A5;
	--primary-border: #e66200;
	--secondary: #90A4AE;
	/* color: #90A4AE;
	border-color: #90A4AE; */
  /* border-color: #8198a3; */
	/* --success: #28B62C;
	--success-border: #23a127;
	--danger: #dc3545;
	--danger-border: #b5241b;
	--icons-primary: #B3CDE4;
	--icons-secondary: rgb(240, 241, 246);
	--scroll-bar: rgba(172, 212, 217, 0.4); */

	scrollbar-color: rgba(172, 212, 217, 0.4) transparent !important;
  scrollbar-width: thin !important;
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat-Bold'), url('assets/Tipografia-Montserrat/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat-Medium'), url('assets/Tipografia-Montserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat-Regular'), url('assets/Tipografia-Montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat-SemiBold'), url('assets/Tipografia-Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

body {
	background: var(--bg-primary);
	font-family: 'Open Sans';
}

body::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}
section.table {
  height: calc(100vh - 75px);
	margin-bottom: 0;
  overflow: auto;
}

button:focus{
	outline: none;
}

/*
 * ====================================================================
 * = Scroll
 * ====================================================================
 */
.scroll::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
.scroll::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(172, 212, 217, 0.4);
  border-radius: 10px;
}

h1.title{
	font-family: 'Montserrat-Bold';
	font-weight: 700;
	font-size: 27px;
	color: #101F5B;
}

button.add i{
	margin-right: 5px;
	background: #FFF;
	color: #101F5B;
	border-radius: 2px;
	padding: 3px;
}

/*
 * ====================================================================
 * = Texts
 * ====================================================================
 */
.text-primary{
	color: var(--primary)!important;
}
.text-dark {
  color: #455A64 !important;
}
.text-light{
	color: #c0bec7!important;
}

/*
.card{
	background: var(--bg-secondary);
	color:#fff;
	box-shadow: 0 1px 20px 0 rgba(0,0,0,.08)!important;
	border-radius: 12px;
} */

/* btn label upload */
.label-upload{
	cursor: pointer;
  margin-bottom: 0px;
  padding: 12px;
  border: 1px solid #ff6d00;
  color: #ff6d00;
  font-weight: bold;
	font-size: 14px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: #1225A5;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #101F5B;
}

.mat-header-cell {
  color: #1225A5;
	font-size: 15px;
	font-weight: 700;
}
.mat-cell, .mat-footer-cell {
  color: #52575A!important;
}
.cdk-overlay-container{
  z-index: 1050!important;
}


mat-form-field{
  width: 100%;
  color: #fff;
}
mat-label, label{
  color: #052362;
}
.mat-input-element {
  color: #6D7278!important;
}

/* inputs */
input{
	/* height: 50px!important; */
}

.modal-backdrop.show {
    opacity: 0;
}

.btns{
  position: absolute;
  z-index: 2;
  margin-top: 10px;
}
.btns button{
  margin: 5px;
}
