<div [ngSwitch]="template">

<ng-template [ngSwitchCase]="'no_image'">
  <svg id="no_image" [style.width.px]="width" [style.height.px]="height" viewBox="0 0 512 512" fill="var(--icons-primary)" style="border-radius:50%">
      <g id="User_Male" data-name="User Male"><g id="Outline">
      <path d="M430.311,349.38,326.569,330.518A8,8,0,0,1,320,322.647v-31.16a110.082,110.082,0,0,0,39.52-51.967,36.631,36.631,0,0,0,29.669-27.3l4.561-18.24a27.589,27.589,0,0,0,.83-6.68,27.4,27.4,0,0,0-17.891-25.62l2.25-11a127.9,127.9,0,0,0,2.036-13.764c0-.015,0-.031,0-.046.361-3.88.551-7.765.551-11.63a123.753,123.753,0,0,0-9.671-48.08A125.82,125.82,0,0,0,345.27,37.29,125.784,125.784,0,0,0,208.66,9.2a8,8,0,0,0,6.04,14.82A109.66,109.66,0,0,1,364.74,112.1c-15.312-12.469-34.3-15.806-35.426-15.993l-3.12-.52-30.662,20.445a71.284,71.284,0,0,1-79.064,0L185.806,95.589l-3.12.52c-1.124.187-20.124,3.526-35.438,16A108.566,108.566,0,0,1,168.16,60.12a8,8,0,1,0-12.83-9.55,125.583,125.583,0,0,0-18.31,34.86,123.938,123.938,0,0,0-6.56,39.81,127.263,127.263,0,0,0,2.6,25.44l2.25,11a27.406,27.406,0,0,0-17.89,25.62,27.528,27.528,0,0,0,.83,6.68l4.56,18.23a36.616,36.616,0,0,0,29.67,27.31A110.091,110.091,0,0,0,192,291.488v31.159a8,8,0,0,1-6.569,7.871L81.689,349.38A79.962,79.962,0,0,0,16,428.089V504a8,8,0,0,0,16,0V428.089a63.969,63.969,0,0,1,52.551-62.967l92.408-16.8A79.761,79.761,0,0,0,187.08,376.63a7.97,7.97,0,0,0,10.95,2.82,8,8,0,0,0,2.82-10.96,63.928,63.928,0,0,1-8.207-23.46A23.984,23.984,0,0,0,208,322.647V300.982a109.864,109.864,0,0,0,96,0v21.665a23.985,23.985,0,0,0,15.372,22.389A63.767,63.767,0,0,1,256.02,400H256a65.836,65.836,0,0,1-9.54-.7,8.009,8.009,0,0,0-9.1,6.73,8.011,8.011,0,0,0,6.73,9.09A81.47,81.47,0,0,0,256,416a79.856,79.856,0,0,0,79.033-67.681l92.416,16.8A63.969,63.969,0,0,1,480,428.089V504a8,8,0,0,0,16,0V428.089A79.962,79.962,0,0,0,430.311,349.38ZM256.02,296h-.04a93.652,93.652,0,0,1-89.94-66.36l-1.73-5.6-5.92-.04a20.637,20.637,0,0,1-20.06-15.67l-4.56-18.24a11.242,11.242,0,0,1,2.93-10.72,11.218,11.218,0,0,1,8.07-3.37h9.81l-5.85-28.53q-1.037-5.085-1.6-10.222c7.65-16.344,27.716-22.806,35.26-24.7l25.2,16.8a87.278,87.278,0,0,0,96.816,0l25.2-16.8c7.56,1.9,27.606,8.364,35.257,24.694-.375,3.422-.9,6.84-1.593,10.232l-5.84,28.47-.01.06h9.809a11.256,11.256,0,0,1,8.071,3.37,11.428,11.428,0,0,1,3.28,7.93,11.623,11.623,0,0,1-.351,2.8l-4.559,18.23A20.647,20.647,0,0,1,353.609,224H347.74l-1.78,5.64A93.653,93.653,0,0,1,256.02,296Z"/>
      <path d="M88,440a8,8,0,0,0-8,8v56a8,8,0,0,0,16,0V448A8,8,0,0,0,88,440Z"/>
      <path d="M424,440a8,8,0,0,0-8,8v56a8,8,0,0,0,16,0V448A8,8,0,0,0,424,440Z"/>
      <path d="M220.19,389.05a8,8,0,0,0-9.09,13.16h-.01l.14.09a8,8,0,1,0,8.96-13.25Z"/>
      <path d="M184.07,40.56a7.909,7.909,0,0,0,4.82-1.62l.08-.06a8,8,0,0,0-4.91-14.32,8,8,0,0,0,.01,16Z"/></g></g>
  </svg>
</ng-template>

</div>
